version: "3.9"

services:
  mongodb:
    image: mongo:7.0
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

  neo4j:
      image: neo4j:5
      container_name: neo4j
      ports:
        - "7474:7474"   # HTTP UI
        - "7687:7687"   # Bolt
      environment:
        NEO4J_AUTH: neo4j/admin@1234
      volumes:
        - neo4j_data:/data
      restart: unless-stopped

  pipeline:
    build: ./pipeline
    container_name: ai-driven-marketing-personlization
    depends_on:
      mongodb:
        condition: service_started
    volumes:
      - ./pipeline:/pipeline
      - ./secrets/sa-key.json:/secrets/sa-key.json:ro
      - ./data:/data
    environment:
      MONGODB_URI: mongodb://mongodb:27017
      GOOGLE_APPLICATION_CREDENTIALS: /secrets/sa-key.json

volumes:
  mongo_data:
  neo4j_data:
